<% provide(:title, "Add Artist") %>

<h2 class="index-title">Add Artist</h2>

<div class="summary">

<%= form_for @artist do |f| %>
  <%= render "shared/error_messages", object: f.object %>

  <%= f.text_field :name, placeholder: " Artist name *",
                                class: "form-control" %>

  <%= f.text_field :contact_name, placeholder: 'Contact name',
                   class: "form-control" %>

  <%= f.text_field :contact_phone, placeholder: 'Contact phone',
                   class: "form-control" %>

  <%= f.text_field :contact_email, placeholder: 'Contact email',
                   class: "form-control" %>

 <%= f.text_field :website, placeholder: 'Website *',
                  class: "form-control" %>

  <%= f.submit 'Create', class: 'btn label-warning' %>

<% end %>

</div>
