<div>
  <table class="table table-hover">
    <tr class="warning">
      <th>Date</th>
      <th>Engagement</th>
      <th>Fee</th>
      <th>Extras</th>
    </tr>
    <% month_array(date: @date).each do |date| %>
      <% if @shows_hash[date.in_time_zone] %>
        <% show = @shows_hash[date.in_time_zone][0] %>
          <% if date == Date.today %>
            <tr class="info">
            <% else %>
              <tr class="success">
              <% end %>
              <td>
                <b><%= date.strftime('%a, %b %d') %>
                  <b></td>
                  <td>
                    <b><%= link_to show.venue.name, artist_path(
                                  @artist,
                                  date:   params[:date],
                                  cal: @cal_selection,
                                  anchor: show.id)
                       %></b><br>
                    <b><%= "#{show.venue.city}, #{show.venue.state_region}" %></b>
                  </td>
                  <td>
                    <b><%= number_to_currency (show[:fee].to_i) %></b>
                  </td>
                  <td>
                      <b></td>
                    <% else %>
                      <% if date == Date.today %>
                        <tr class="info">
                          <td>
                            <b><%= date.strftime('%a, %b %d') %></b>
                          </td>
                          <td></td>
                          <td></td>
                          <td></td>
                        </tr>
                      <% else %>
                        <tr>
                          <td>
                            <b><%= date.strftime('%a, %b %d') %></b>
                          </td>
                          <td></td>
                          <td></td>
                          <td></td>
                        </tr>
                      <% end %>
                    <% end %>
                  <% end %>
                </table>
              </div>
