<div id="<%= deal.id %>" class="summary">
  <div class="row">
    <div class="col-md-6">
      <h3><%= deal.start_date.strftime('%A %B %d, %Y') %></h3>
    </div>
    <div class="col-md-6">

      <span class="right-float artist-delete">
        <%= link_to 'edit', edit_show_path(deal.id) %>
      </span><br>

      <% if current_user.admin %>
        <span class="right-float artist-delete">
          <%= link_to 'delete', deal, method: :delete,
                                      data: { confirm: 'Are you sure?' } %>
        </span><br>
      <% end %>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6">
      <h4>Venue</h4>
      <b>
        <span><%= link_to deal.venue.name, venue_path(deal.venue) %></span><br>
        <span><%= deal.venue.address %></span>
      </b>

    </div>
    <div class="col-md-6">
      <h4>Compensation</h4>
      <span>FEE:
        <b><%= number_to_currency deal.fee %></b><br>
      </span>
      <span>BACKEND:
        <b><%= deal.backend %></b><br>
      </span>
      <span>HOTEL:
        <b><%= deal.hotel %></b>
      </span><br>
      <span>GROUND:
        <b><%= deal.ground %></b>
      </span><br>
      <span>BACKLINE:
        <b><%= deal.backline %></b>
      </span><br>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <h4>Engagement Information</h4>
      <span>START TIME(S):
        <b><%= deal[:start_time] %></b>
      </span><br>
      <span>SET LENGTH(S):
        <b><%= deal.set_length %></b>
      </span><br>
      <span>NUMBER OF SHOWS:
        <b><%= deal.number_of_shows %></b>
      </span><br>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6">
      <h4>Contract</h4>
      <span>AGENT:
        <b><%= deal.agent %></b>
        <!-- <b><%= deal[:hubspot_owner_id] %></b> -->
      </span><br>
      <span>SHOW #:
        <b><%= deal.id %></b>
      </span><br>
      <span>CONTRACT DUE:
        <b><%= deal.contract_due.strftime('%A %B %d, %Y') %></b>
      </span><br>
      <span>SIGNED BY PROMOTER:
        <b></b>
      </span><br>
      <span>SIGNED BY ARTIST:
        <b><%= format_date deal.contract_signed_by_artist %></b>
      </span><br>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6">
      <h4>Ticket Information</h4>
      <span>TICKET SCALE:
        <b><%= deal.ticket_scale %></b>
      </span><br>
      <span>CAPACITY:
        <b><%= number_with_delimiter(deal.capacity) %></b>
      </span><br>
      <span>GROSS POTENTIAL:
        <b><%= deal.gross_potential %></b>
      </span><br>
    </div>
    <div class="col-md-6">
      <h4>Annouce Dates</h4>
      <span>ANNOUNCE:
        <% if deal.announce %>
          <b><%= deal.announce.strftime('%A %B %d, %Y') %></b>
        <% end %>
      </span><br>
      <span>ON SALE:
        <% if deal.on_sale %>
          <b><%= deal.on_sale.strftime('%A %B %d, %Y') %></b>
        <% end %>
      </span><br>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6">
      <h4>Promoter</h4>
      <span>
        <b><%= link_to deal.promoter.name, (contact_path deal.promoter) %></b>
      </span><br>
      <span>
        <b><%= deal.promoter.phone %></b>
      </span><br>
      <span>
        <b><%= deal.promoter.email %></b>
      </span><br>
    </div>
    <div class="col-md-6">
      <h4>Production</h4>
      <span>
        <b><%= link_to deal.production.name, (contact_path deal.promoter) %></b>
      </span><br>
      <span>
        <b><%= deal.production.phone %></b>
      </span><br>
      <span>
        <b><%= deal.production.email %></b>
      </span><br>
    </div>
  </div>
</div>
